.container{
    background-color: pink;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container_nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    color: rgb(60, 60, 172);
    font-weight: 600;

    
}
.container_nav li:hover{
    color: black;
}