
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    color: rgb(68, 68, 182);
    background-color: white;
    font-weight: 600;
}

.container li:hover{
    color: rgb(255, 139, 226);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style-type: none;
    width: 300px;
}

