.container{
    background-image:url('/images/hero-kitty.jpg');
    display: flex;
   justify-content: left;
   align-items: center;
    height: 500px;
    background-position: bottom;
    background-size: cover;
    text-align: center;
    margin-bottom: 40px;
}
.text-container{
width: 600px;
margin-left: 100px;

}
.text-container h1{
    font-size: 70px;
    color: #145297;
margin-bottom: 30px;

}


.text-container button {
  align-items: center;
  background-color: #145297;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  text-decoration: none;
  height: 50px;
  width: 100px;

}

.text-container button:hover {
  background-color:  rgb(255, 139, 226);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
